USE [master]
GO
/****** Object:  Database [YemekSepetiDb]    Script Date: 5.03.2026 19:59:33 ******/
CREATE DATABASE [YemekSepetiDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YemekSepetiDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\YemekSepetiDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YemekSepetiDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\YemekSepetiDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YemekSepetiDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YemekSepetiDb]
GO
USE [YemekSepetiDb]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_IndirimYap]    Script Date: 5.03.2026 19:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Fonksiyon 2: İndirimli Fiyat Hesapla (%20 indirim uygular)
CREATE FUNCTION [dbo].[FN_IndirimYap](@Fiyat DECIMAL(10,2))
RETURNS DECIMAL(10,2)
AS
BEGIN
    RETURN @Fiyat - (@Fiyat * 0.20)
END;
GO
/****** Object:  UserDefinedFunction [dbo].[FN_KDVHesapla]    Script Date: 5.03.2026 19:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 4. BÖLÜM: 3 ADET FONKSİYON [cite: 67]
-- =============================================

-- Fonksiyon 1: KDV Hesapla (%10 Yemek KDV)
CREATE FUNCTION [dbo].[FN_KDVHesapla](@Tutar DECIMAL(10,2))
RETURNS DECIMAL(10,2)
AS
BEGIN
    RETURN @Tutar * 0.10
END;
GO
/****** Object:  UserDefinedFunction [dbo].[FN_ToplamSiparisSayisi]    Script Date: 5.03.2026 19:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Fonksiyon 3: Toplam Sipariş Sayısını Getir
CREATE FUNCTION [dbo].[FN_ToplamSiparisSayisi]()
RETURNS INT
AS
BEGIN
    DECLARE @Sayi INT
    SELECT @Sayi = COUNT(*) FROM Siparisler
    RETURN @Sayi
END;
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 5.03.2026 19:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[Adres] [nvarchar](250) NULL,
	[Telefon] [nvarchar](15) NULL,
	[Rol] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restoranlar]    Script Date: 5.03.2026 19:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restoranlar](
	[RestoranID] [int] IDENTITY(1,1) NOT NULL,
	[RestoranAdi] [nvarchar](100) NOT NULL,
	[Kategori] [nvarchar](50) NULL,
	[MinTutar] [decimal](10, 2) NULL,
	[Puan] [decimal](3, 1) NULL,
	[ResimYolu] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[RestoranID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siparisler]    Script Date: 5.03.2026 19:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparisler](
	[SiparisID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[RestoranID] [int] NULL,
	[Tarih] [datetime] NULL,
	[ToplamTutar] [decimal](10, 2) NULL,
	[Durum] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_SiparisOzet]    Script Date: 5.03.2026 19:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 3. BÖLÜM: 1 ADET VIEW [cite: 61]
-- =============================================

-- View 1: Sipariş Özet Raporu (Kim, Hangi Restorandan, Ne zaman, Kaç TL)
CREATE VIEW [dbo].[VIEW_SiparisOzet] AS
SELECT 
    s.SiparisID,
    k.AdSoyad AS Musteri,
    r.RestoranAdi,
    s.Tarih,
    s.ToplamTutar,
    s.Durum
FROM Siparisler s
JOIN Kullanicilar k ON s.KullaniciID = k.KullaniciID
JOIN Restoranlar r ON s.RestoranID = r.RestoranID;
GO
/****** Object:  Table [dbo].[SiparisDetay]    Script Date: 5.03.2026 19:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiparisDetay](
	[DetayID] [int] IDENTITY(1,1) NOT NULL,
	[SiparisID] [int] NULL,
	[UrunID] [int] NULL,
	[Adet] [int] NULL,
	[BirimFiyat] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[DetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 5.03.2026 19:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[RestoranID] [int] NULL,
	[UrunAdi] [nvarchar](100) NOT NULL,
	[Aciklama] [nvarchar](250) NULL,
	[Fiyat] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([KullaniciID], [AdSoyad], [Email], [Sifre], [Adres], [Telefon], [Rol]) VALUES (1, N'AHMET YILMAZ', N'ahmet@gmail.com', N'1234', N'Kampüs Yurdu', N'05551234567', N'Musteri')
INSERT [dbo].[Kullanicilar] ([KullaniciID], [AdSoyad], [Email], [Sifre], [Adres], [Telefon], [Rol]) VALUES (2, N'AYŞE TÜRKMEN', N'ayse@gmail.com', N'5678', N'aziziye yurdu', N'05450743025', N'Musteri')
INSERT [dbo].[Kullanicilar] ([KullaniciID], [AdSoyad], [Email], [Sifre], [Adres], [Telefon], [Rol]) VALUES (3, N'HAZAR DEVECİ', N'Hazar@gmail.com', N'135', N'ibrahim hakkı', N'05176452874', N'Musteri')
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Restoranlar] ON 

INSERT [dbo].[Restoranlar] ([RestoranID], [RestoranAdi], [Kategori], [MinTutar], [Puan], [ResimYolu]) VALUES (1, N'Domino''s Pizza', N'Pizza', CAST(110.00 AS Decimal(10, 2)), CAST(9.0 AS Decimal(3, 1)), N'pizza.jpg')
INSERT [dbo].[Restoranlar] ([RestoranID], [RestoranAdi], [Kategori], [MinTutar], [Puan], [ResimYolu]) VALUES (2, N'Maydonoz', N'Dürüm', CAST(50.00 AS Decimal(10, 2)), CAST(8.0 AS Decimal(3, 1)), N'dürüm.jpg')
INSERT [dbo].[Restoranlar] ([RestoranID], [RestoranAdi], [Kategori], [MinTutar], [Puan], [ResimYolu]) VALUES (3, N'Baydoner', N'Iskender', CAST(400.00 AS Decimal(10, 2)), CAST(10.0 AS Decimal(3, 1)), N'Iskender.jpg')
SET IDENTITY_INSERT [dbo].[Restoranlar] OFF
GO
SET IDENTITY_INSERT [dbo].[SiparisDetay] ON 

INSERT [dbo].[SiparisDetay] ([DetayID], [SiparisID], [UrunID], [Adet], [BirimFiyat]) VALUES (8, 7, 1, 3, CAST(250.00 AS Decimal(10, 2)))
INSERT [dbo].[SiparisDetay] ([DetayID], [SiparisID], [UrunID], [Adet], [BirimFiyat]) VALUES (1002, 1002, 1, 3, CAST(250.00 AS Decimal(10, 2)))
INSERT [dbo].[SiparisDetay] ([DetayID], [SiparisID], [UrunID], [Adet], [BirimFiyat]) VALUES (1003, 1003, 3, 2, CAST(50.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[SiparisDetay] OFF
GO
SET IDENTITY_INSERT [dbo].[Siparisler] ON 

INSERT [dbo].[Siparisler] ([SiparisID], [KullaniciID], [RestoranID], [Tarih], [ToplamTutar], [Durum]) VALUES (7, 3, 1, CAST(N'2025-12-23T00:36:11.210' AS DateTime), CAST(500.00 AS Decimal(10, 2)), N'Teslim Edildi')
INSERT [dbo].[Siparisler] ([SiparisID], [KullaniciID], [RestoranID], [Tarih], [ToplamTutar], [Durum]) VALUES (1002, 2, 1, CAST(N'2025-12-23T19:58:16.103' AS DateTime), CAST(750.00 AS Decimal(10, 2)), N'Yola Çıktı')
INSERT [dbo].[Siparisler] ([SiparisID], [KullaniciID], [RestoranID], [Tarih], [ToplamTutar], [Durum]) VALUES (1003, 1008, 2, CAST(N'2025-12-23T20:58:22.803' AS DateTime), CAST(100.00 AS Decimal(10, 2)), N'Sipariş Alındı')
SET IDENTITY_INSERT [dbo].[Siparisler] OFF
GO
SET IDENTITY_INSERT [dbo].[Urunler] ON 

INSERT [dbo].[Urunler] ([UrunID], [RestoranID], [UrunAdi], [Aciklama], [Fiyat]) VALUES (1, 1, N'Karışık Pizza', N'Sucuk, salam, mantar', CAST(250.00 AS Decimal(10, 2)))
INSERT [dbo].[Urunler] ([UrunID], [RestoranID], [UrunAdi], [Aciklama], [Fiyat]) VALUES (2, 2, N'Hatay Dürüm', N'Tavuk Lavaş Sos', CAST(100.00 AS Decimal(10, 2)))
INSERT [dbo].[Urunler] ([UrunID], [RestoranID], [UrunAdi], [Aciklama], [Fiyat]) VALUES (3, 2, N'Patates ', N'Kızartma', CAST(50.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Urunler] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kullanic__A9D10534C8F938CE]    Script Date: 5.03.2026 19:59:33 ******/
ALTER TABLE [dbo].[Kullanicilar] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT ('Musteri') FOR [Rol]
GO
ALTER TABLE [dbo].[Restoranlar] ADD  DEFAULT ((0)) FOR [MinTutar]
GO
ALTER TABLE [dbo].[Restoranlar] ADD  DEFAULT ((0)) FOR [Puan]
GO
ALTER TABLE [dbo].[SiparisDetay] ADD  DEFAULT ((1)) FOR [Adet]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT ('Hazırlanıyor') FOR [Durum]
GO
ALTER TABLE [dbo].[SiparisDetay]  WITH CHECK ADD FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparisler] ([SiparisID])
GO
ALTER TABLE [dbo].[SiparisDetay]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD FOREIGN KEY([RestoranID])
REFERENCES [dbo].[Restoranlar] ([RestoranID])
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD FOREIGN KEY([RestoranID])
REFERENCES [dbo].[Restoranlar] ([RestoranID])
GO
/****** Object:  StoredProcedure [dbo].[SP_KullaniciKayit]    Script Date: 5.03.2026 19:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 1. BÖLÜM: 5 ADET STORED PROCEDURE (SP) [cite: 48]
-- =============================================

-- SP 1: Yeni Müşteri Kayıt Eden SP
CREATE PROCEDURE [dbo].[SP_KullaniciKayit]
    @AdSoyad NVARCHAR(100),
    @Email NVARCHAR(100),
    @Sifre NVARCHAR(50),
    @Adres NVARCHAR(250),
    @Telefon NVARCHAR(15)
AS
BEGIN
    INSERT INTO Kullanicilar (AdSoyad, Email, Sifre, Adres, Telefon)
    VALUES (@AdSoyad, @Email, @Sifre, @Adres, @Telefon)
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_MenuGetir]    Script Date: 5.03.2026 19:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 5: Bir Restoranın Menüsünü Getiren SP
CREATE PROCEDURE [dbo].[SP_MenuGetir]
    @RestoranID INT
AS
BEGIN
    SELECT * FROM Urunler WHERE RestoranID = @RestoranID
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_RestoranEkle]    Script Date: 5.03.2026 19:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 3: Restoran Ekleme SP
CREATE PROCEDURE [dbo].[SP_RestoranEkle]
    @RestoranAdi NVARCHAR(100),
    @Kategori NVARCHAR(50),
    @MinTutar DECIMAL(10,2)
AS
BEGIN
    INSERT INTO Restoranlar (RestoranAdi, Kategori, MinTutar)
    VALUES (@RestoranAdi, @Kategori, @MinTutar)
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_SiparisDurumGuncelle]    Script Date: 5.03.2026 19:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 4: Sipariş Durumu Güncelleme SP
CREATE PROCEDURE [dbo].[SP_SiparisDurumGuncelle]
    @SiparisID INT,
    @YeniDurum NVARCHAR(50)
AS
BEGIN
    UPDATE Siparisler 
    SET Durum = @YeniDurum 
    WHERE SiparisID = @SiparisID
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UrunAra]    Script Date: 5.03.2026 19:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 2: Ürün Arama SP (İsme göre yemek bulur)
CREATE PROCEDURE [dbo].[SP_UrunAra]
    @Kelime NVARCHAR(50)
AS
BEGIN
    SELECT * FROM Urunler 
    WHERE UrunAdi LIKE '%' + @Kelime + '%'
END;
GO
USE [master]
GO
